<!Doctype html>
<html en='fr'
    class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Les mémoires par mention</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy"
        content="default-src: 'self'; base-uri: 'self'; style-src: 'self'; plugin-types: 'none'; object-src: 'none'">

    <link rel="shortcut icon" type="image/png" href="/template/strdash/images/icon/favicon.ico">
    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/template/strdash/css/font-awesome.min.css">
    <link rel="stylesheet" href="/template/strdash/css/themify-icons.css">
    <!-- others css -->
    <link rel="stylesheet" href="/template/strdash/css/typography.css">
    <link rel="stylesheet" href="/template/strdash/css/default-css.css">
    <link rel="stylesheet" href="/template/strdash/css/styles.css">
    <link rel="stylesheet" href="/template/strdash/css/responsive.css">
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <!-- <div id="preloader">
        <div class="loader"></div>
    </div>  -->
    <!-- preloader area end -->
    <!-- page container area start -->
    <div>
        <%- include ('../components/sidebar.ejs') %>
            <!-- sidebar menu area end -->
            <div class="main-content position-absolute top-0 end-0" style="min-height: 313px">
                <!-- main content area start -->
                <div class="">
                    <!-- header area start -->
                    <%- include ('../components/header.ejs') %>
                        <!-- header area end -->
                        <!-- page title area start -->
                        <div class="page-title-area d-print-none">
                            <div class="row align-items-center">
                                <div class="col-sm-8">
                                    <div class="breadcrumbs-area clearfix">
                                        <ul class="breadcrumbs pull-left">
                                            <li><a href="/home">Accueil</a></li>
                                            <li><span>Mémoires par diplôme</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <%- include('../components/account.ejs') %>
                            </div>
                        </div>
                        <!-- page title area end -->
                        <div class="main-content-inner">
                            <div class="row">
                                <div class="d-print-none">
                                    <h3 class="m-3">Les mémoires par diplôme</h3>
                                </div>
                                <div class="card">
                                    <div class="card-body m-auto">
                                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                            <li class="nav-item">
                                                <% if(diploma=='dts' ){ %>
                                                    <a class="btn fs-6 btn-outline-primary btn-xl me-5 active"
                                                        id="pills-dts-tab" href="?diploma=dts"
                                                        aria-selected="false">DTS</a>
                                                    <%} else {%>
                                                        <a class="btn fs-6 btn-outline-primary btn-xl me-5"
                                                            id="pills-dts-tab" href="?diploma=dts"
                                                            aria-selected="false">DTS</a>
                                                        <% } %>
                                            </li>
                                            <li class="nav-item">
                                                <% if(diploma=='licence' ){ %>
                                                    <a class="btn fs-6 btn-outline-primary btn-xl me-5 active"
                                                        id="pills-licence-tab" href="?diploma=licence"
                                                        aria-selected="false">LICENCE</a>
                                                    <%} else {%>
                                                        <a class="btn fs-6 btn-outline-primary btn-xl me-5"
                                                            id="pills-licence-tab" href="?diploma=licence"
                                                            aria-selected="false">LICENCE</a>
                                                        <% } %>
                                            </li>
                                            <li class="nav-item">
                                                <% if(diploma=='master i' ){ %>
                                                    <a class="btn fs-6 btn-outline-primary btn-xl me-5 active"
                                                        id="pills-master1-tab" href="?diploma=master%20i"
                                                        aria-selected="true">MASTER I</a>
                                                    <%} else {%>
                                                        <a class="btn fs-6 btn-outline-primary btn-xl me-5"
                                                            id="pills-master1-tab" href="?diploma=master%20i"
                                                            aria-selected="true">MASTER I</a>
                                                        <% } %>
                                            </li>
                                            <li class="nav-item">
                                                <% if(diploma=='master ii' ){ %>
                                                    <a class="btn fs-6 btn-outline-primary btn-xl me-5 active"
                                                        id="pills-master2-tab" href="?diploma=master%20ii"
                                                        aria-controls="pills-master2" style="font-size: 21px !important"
                                                        aria-selected="true">MASTER II</a>
                                                    <%} else {%>
                                                        <a class="btn fs-6 btn-outline-primary btn-xl me-5"
                                                            id="pills-master2-tab" href="?diploma=master%20ii"
                                                            aria-controls="pills-master2" aria-selected="true">MASTER
                                                            II</a>
                                                        <% } %>
                                            </li>
                                        </ul>
                                        <% if (diploma) {%>
                                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                                <% mention_list.forEach((result)=> { %>
                                                    <li class="nav-item">
                                                        <% if(mention==result ){ %>
                                                            <a class="btn fs-6 btn-outline-primary btn-xl me-5 active"
                                                                id="pills-dts-tab"
                                                                href="?diploma=<%= diploma %>&mention=<%= result %>"
                                                                aria-selected="false">
                                                                <%= result.toLocaleUpperCase() %>
                                                            </a>
                                                            <%} else {%>
                                                                <a class="btn fs-6 btn-outline-primary btn-xl me-5"
                                                                    id="pills-dts-tab"
                                                                    href="?diploma=<%= diploma %>&mention=<%= result %>"
                                                                    aria-selected="false">
                                                                    <%= result.toLocaleUpperCase() %>
                                                                </a>
                                                                <% } %>
                                                    </li>
                                                    <% }) %>
                                            </ul>
                                            <% } %>
                                    </div>
                                </div>
                                <div class="tab-content>
                                    <div class=" tab-pane fade active show">
                                    <div class="card">
                                        <% if((mention) && (total_memories> 0)) { %>
                                            <div class="single-table">
                                                <div class="table-responsive">
                                                    <table class="table table-hover text-center">
                                                        <thead class="text-uppercase bg-primary">
                                                            <tr class="text-white">
                                                                <th scope="col">#</th>
                                                                <th class="sorting" tabindex="0"
                                                                    aria-controls="simpletable" rowspan="1" colspan="1"
                                                                    scope="col"
                                                                    aria-label="Nom: activate to sort column ascending"
                                                                    style="width: 139.391px;">Nom
                                                                </th>
                                                                <th scope="col">Thème</th>
                                                                <th scope="col">Diplôme</th>
                                                                <th scope="col">Mention</th>
                                                                <th scope="col">Année</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% memory.forEach((result,index)=>{ %>
                                                                <tr role="button" data-toggle="modal"
                                                                    onclick="window.location.href = '/memory?id=<%= result.id %>'">
                                                                    <th>
                                                                        <%= index+1 %>
                                                                    </th>
                                                                    <td>
                                                                        <%= result.student_name %>
                                                                    </td>
                                                                    <td>
                                                                        <%= result.theme %>
                                                                    </td>
                                                                    <td>
                                                                        <%= result.degree %>
                                                                    </td>
                                                                    <td>
                                                                        <%= result.mention %>
                                                                    </td>
                                                                    <td>
                                                                        <%= result.academic_year %>
                                                                    </td>
                                                                </tr>
                                                                <% }) %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-7">
                                                <ul class="pagination m-3">
                                                    <% if(currentPage> 1){ %>
                                                        <li class="page-item previous" id="row-select_previous">
                                                            <a href="?mention=<%=mention %>&diploma=<%= diploma %>&page=<%=currentPage - 1 %>"
                                                                aria-controls="row-select" data-dt-idx="0" tabindex="0"
                                                                class="page-link">Précedente
                                                            </a>
                                                        </li>
                                                        <% } %>

                                                            <% for(var i=1; i<=totalPage; i++ ) { if(i==currentPage){ %>
                                                                <li class="page-item active">
                                                                    <a href="?mention=<%=mention %>&diploma=<%= diploma %>&page=<%=i %>"
                                                                        aria-controls="row-select" data-dt-idx="1"
                                                                        tabindex="0" class="page-link">
                                                                        <%= i %>
                                                                    </a>
                                                                </li>
                                                                <% } else{ %>
                                                                    <li class="page-item">
                                                                        <a href="?mention=<%=mention %>&diploma=<%= diploma %>&page=<%=i %>"
                                                                            aria-controls="row-select" data-dt-idx="1"
                                                                            tabindex="0" class="page-link">
                                                                            <%= i %>
                                                                        </a>
                                                                    </li>
                                                                    <% } %>
                                                                        <% } %>

                                                                            <% if (currentPage < totalPage){ %>
                                                                                <li class="page-item next"
                                                                                    id="row-select_next">
                                                                                    <a href="?mention=<%=mention %>&diploma=<%= diploma %>&page=<%=currentPage +++ 1 %>"
                                                                                        aria-controls="row-select"
                                                                                        data-dt-idx="4" tabindex="0"
                                                                                        class="page-link">Suivante</a>
                                                                                </li>
                                                                                <% } else {%>
                                                                                    <li class="page-item next disabled"
                                                                                        id="row-select_next">
                                                                                        <a href="?mention=<%=mention %>&diploma=<%= diploma %>&page=<%=currentPage +++ 1 %>"
                                                                                            aria-controls="row-select"
                                                                                            data-dt-idx="4" tabindex="0"
                                                                                            class="page-link">Suivante</a>
                                                                                    </li>
                                                                                    <% }%>
                                                </ul>
                                            </div>
                                            <% } else { %>
                                                <h4 class="text-center">Pas de mémoire à afficher</h4>
                                                <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <!-- main content area end -->
                <!-- footer area start-->
                <%- include ('../components/footer.ejs') %>
                <!-- footer area end-->
            </div>
    </div>
    <!-- page container area end -->
    
    <!-- jquery latest version -->
    <script src="/template/strdash/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="/template/strdash/js/popper.min.js"></script>
    <script src="/template/strdash/js/bootstrap.min.js"></script>
    <script src="/template/strdash/js/owl.carousel.min.js"></script>
    <script src="/template/strdash/js/metisMenu.min.js"></script>
    <script src="/template/strdash/js/jquery.slimscroll.min.js"></script>
    <script src="/template/strdash/js/jquery.slicknav.min.js"></script>

    <!-- others plugins -->
    <script src="/template/strdash/js/plugins.js"></script>
    <script src="/template/strdash/js/scripts.js"></script>
</body>

</html>